# Node
frontend/node_modules
frontend/dist

# Python
__pycache__/
*.pyc
.venv/
venv/

# env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel
.vercel/

# IDE
.vscode/
.idea/
*.swp
*.swo

